extends ../public/hfer_admin

block content

	div(class='g-960-center content-admin',id='content_admin',scroll='no')
		div.g-db-03
			div.nav-title-admin 后台管理
			div(class='nav-box-admin',id='admin_nav')
				a(href='javascript:;',class='current') 添加文章
				a(href='/admin_delete') 删除文章
				//a(href='/admin_updata') 修改
		div.content-01
			div.func-box
			div.post-get-box
				form(class='article-sub',method='post')
					table.form-01-FCD-app
						tr
							th 标题:
							td
								input(class='txt-input',name='title',type='text')
						tr
							th 作者:
							td
								input(class='txt-input',name='author',type='text')
						tr
							th 出处:
							td
								input(class='txt-input',name='source',type='text')
						tr
							th 标签:
							td
								input(class='txt-input',name='lable',type='text')
						tr
							th 简介:
							td
								textarea(name='intr',class='intr')
						tr
							th 内容:
							td
								textarea(name='content')
						tr
							th
							td
								a(href='',class='btn-FCD-app bgcolor-gray-02-FCD-app') 保存
									input(value='',type='submit')
			div(class='post-get-box',style='display:none')
				form(class='article-delete',method='post')
					table(cellspacing='1',class='tab-02')
						tbody.thead
							tr
								th
									//input(type='checkbox',name='checkbox-all')
								td 标题
								td 作者
								td 来源
								td 时间
								td 标签
								td 简介
						tbody
							- for(var x = 0; x < length; x++)
								tr
									th
										input(type='checkbox')
										input(type='text',class='inp-txt',value= article[x]._id)
									td= article[x].article.title
									td= article[x].article.author
									td= article[x].article.source
									td= article[x].article.time
									td= article[x].article.lable
									td= article[x].article.intr
					a(href='',class='btn-FCD-app bgcolor-gray-02-FCD-app') 删除
						input(value='',type='submit')